<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAnMonHoc"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"
        >
        <activity
            android:name=".activity.BrandManagement.AddOrEditBrandActivity"
            android:exported="false"
            />
        <activity
            android:name=".activity.BrandManagement.BrandManagementActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAnMonHoc"
            />
        <activity
            android:name=".activity.GroupManagement.AddOrEditGroupActivity"
            android:exported="false"
            />
        <activity
            android:name=".activity.GroupManagement.GroupManagementActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAnMonHoc"
            />
        <activity
            android:name=".activity.AccountManagement.EditAccountActivity"
            android:exported="false"
            />
        <activity
            android:name=".activity.AccountManagement.AccountDetailActivity"
            android:exported="false"
            />
        <activity android:name=".activity.AccountManagement.EditPasswordActivity"
            android:exported="false"
            />
        <activity
            android:name=".activity.MainActivityForStaff"
            android:exported="false"
            />
        <activity
            android:name=".activity.Main.MainActivity"
            android:exported="false"
            />
        <activity
            android:name=".activity.ProductManagement.AddOrEditProductActivity"
            android:exported="false"
            />
        <activity
            android:name=".activity.ProductManagement.ProductManagementActivity"
            android:exported="false"
            />
        <activity
            android:name=".activity.StaffManagement.StaffManagementActivity"
            android:exported="false"
            />
        <activity
            android:name=".activity.StaffManagement.AddStaffActivity"
            android:exported="false"
            />
        <activity
            android:name=".activity.StaffManagement.StaffDetailManagementActivity"
            android:exported="false"/>
        <activity
            android:name=".activity.StaffManagement.StaffEditActivity"
            android:exported="false"/>
        <activity
            android:name=".activity.ImportManagement.ImportCreateActivity"
            android:exported="false"
            />
        <activity
            android:name=".activity.ImportManagement.ImportBillActivity"
            android:exported="false"
            />
        <activity
            android:name=".activity.ImportManagement.ImportConfirmActivity"
            android:exported="false"
            />
        <activity
            android:name=".activity.ImportManagement.ImportManagementActivity"
            android:exported="false"
            />
        <activity
                android:name=".activity.Auth.SplashActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SaleManagement.SaleManagementActivity"
            android:exported="false"/>
        <activity
            android:name=".activity.SaleManagement.SaleDetailedInvoiceActivity"
            android:exported="false"/>
        <activity
            android:name=".activity.SaleManagement.SaleCreateActivity"
            android:exported="false"/>
        <activity
            android:name=".activity.SaleManagement.SaleConfirmActivity"
            android:exported="false"/>

        <activity
            android:name=".activity.Auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Auth.ChangePasswordActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.doanmonhoc.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            >

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                />
        </provider>
    </application>

</manifest>